@page "/"

@using MEOT.lib.Managers
@using MEOT.lib.Objects

@inject MalwareManager malwareManager
@inject NavigationManager NavManager

@inherits BaseRazorPage

<h1>Malware Efficacy Over Time</h1>

<h2>Tracked Malware Summary</h2>

@if (malware == null)
{
    <p><em>Loading...</em></p>
}
else if (!malware.Any())
{
   <p>No Tracked Malware is enabled - add some <a href="/AddEditMalware">here</a></p>
} else  {
    <table class="table table-striped table-hover table-dark">
        <thead>
        <tr>
            <th>Name</th>
            <th>SHA1</th>
            <th>Format</th>
            <th>Detections</th>
            <th>First Seen (Day 0)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in malware)
        {
            <tr>
                <td><a href="/MalwareAnalysis/@item.Id">@item.Name</a></td>
                <td class="text-uppercase">@item.SHA1</td>
                <td>@item.Format</td>
                <td>@item.NumDetections</td>
                <td>@item.DayZero.DateTime.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Malware> malware;

    protected override async Task OnInitializedAsync()
    {
        malware = malwareManager.GetDashboardEnabled();
    }
}